:root {

    --primary: #7D92A7;
    --primary-frist-der: #6d8296;
    --primary-second-der: #06617D;

    --secondary: #FAFAFA;
    --secondary-first-der: #FFFFFF;
    --secondary-second-der: #ACA474;

    --tertiary: #888888;
    --tertiary-first-der: #8B8B8B;
    --tertiary-second-der: #234233;

}